<include file='Common/header' />


<form action="" method="post" class="form-horizontal">
	<ul>
		<li class="form-group">
			<label for="system" class="col-md-2 control-label">{:l('system_default_lang')}</label>
			<div class="col-md-6">
				<select name="system" id="system" class="form-control">
					<volist name='lang_list' id='vo'>
					<option value="{$vo}" <if condition='$vo eq $sys_default_lang'>selected="selected"</if>>{$vo}</option>
					</volist>
				</select>
			</div>
		</li>
		<li class="form-group">
			<label for="website" class="col-md-2 control-label">{:l('website_default_lang')}</label>
			<div class="col-md-6">
				<select name="website" id="website" class="form-control">
					<volist name='lang_list' id='vo'>
					<option value="{$vo}" <if condition='$vo eq $web_default_lang'>selected="selected"</if>>{$vo}</option>
					</volist>
				</select>
			</div>
		</li>
		<li class="form-group">
			<label for="domain_auto" class="col-md-2 control-label">{:l('domain_auto')}</label>
			<div class="col-md-6">
				<label class="radio-inline"><input type="radio" name="domain_auto" value="1" <if condition='$lang_auto_detect eq 1'>checked</if>>{:l('_button_open')}</label>
				<label class="radio-inline"><input type="radio" name="domain_auto" value="0" <if condition='$lang_auto_detect eq 0'>checked</if>>{:l('_button_close')}</label>
			</div>
		</li>
	</ul>
	<div class="form-button col-md-10 col-md-offset-2">
	<input type="submit" value="{:L('_button_save')}" class="btn btn-success" id="button-basic">
	</div>
</form>

<include file='Common/footer' />