<form action="" method="post" class="form-horizontal">
	<ul>
		<li class="form-group">
			<label class="col-md-2 control-label">{:L('image_auto_image')}</label>
			<label class="checkbox-inline"><input type="checkbox" name="auto_image" <if condition='$data.auto_image eq 1'>checked</if> value="1">
			{:L('image_auto_image_info')}</label>
		</li>
		<li class="form-group">
			<label class="col-md-2 control-label">{:L('image_article_module')}</label>
			<div class="col-md-6">
				<input type="text" name="article_module_width" class="form-control mini" id="article_module_width" value="{$data.article_module_width}"> X <input type="text" name="article_module_height" class="form-control mini" id="article_module_height" value="{$data.article_module_height}">
			</div>
		</li>
		<li class="form-group">
			<label class="col-md-2 control-label">{:L('image_picture_module')}</label>
			<div class="col-md-6">
				<input type="text" name="picture_module_width" class="form-control mini" id="picture_module_width" value="{$data.picture_module_width}"> X <input type="text" name="picture_module_height" class="form-control mini" id="picture_module_height" value="{$data.picture_module_height}">
			</div>
		</li>
		<li class="form-group">
			<label class="col-md-2 control-label">{:L('image_download_module')}</label>
			<div class="col-md-6">
				<input type="text" name="download_module_width" class="form-control mini" id="download_module_width" value="{$data.download_module_width}"> X <input type="text" name="download_module_height" class="form-control mini" id="download_module_height" value="{$data.download_module_height}">
			</div>
		</li>
		<li class="form-group">
			<label class="col-md-2 control-label">{:L('image_page_module')}</label>
			<div class="col-md-6">
				<input type="text" name="page_module_width" class="form-control mini" id="page_module_width" value="{$data.page_module_width}"> X <input type="text" name="page_module_height" class="form-control mini" id="page_module_height" value="{$data.download_module_height}">
			</div>
		</li>
		<li class="form-group">
			<label class="col-md-2 control-label">{:L('image_product_module')}</label>
			<div class="col-md-6">
				<input type="text" name="product_module_width" class="form-control mini" id="product_module_width" value="{$data.product_module_width}"> X <input type="text" name="product_module_height" class="form-control mini" id="product_module_height" value="{$data.product_module_height}">
			</div>
		</li>
		<li class="form-group">
			<label class="col-md-2 control-label">{:L('image_job_module')}</label>
			<div class="col-md-6">
				<input type="text" name="job_module_width" class="form-control mini" id="job_module_width" value="{$data.job_module_width}"> X <input type="text" name="job_module_height" class="form-control mini" id="job_module_height" value="{$data.job_module_height}">
			</div>
		</li>
		<li class="form-group">
			<label class="col-md-2 control-label">{:L('image_link_module')}</label>
			<div class="col-md-6">
				<input type="text" name="link_module_width" class="form-control mini" id="link_module_width" value="{$data.link_module_width}"> X <input type="text" name="link_module_height" class="form-control mini" id="link_module_height" value="{$data.link_module_height}">
			</div>
		</li>
		<li class="form-group">
			<label class="col-md-2 control-label">{:L('image_ask_module')}</label>
			<div class="col-md-6">
				<input type="text" name="ask_module_width" class="form-control mini" id="ask_module_width" value="{$data.ask_module_width}"> X <input type="text" name="ask_module_height" class="form-control mini" id="ask_module_height" value="{$data.ask_module_height}">
			</div>
		</li>
		<li class="form-group">
			<label class="col-md-2 control-label">{:L('image_add_water')}</label>
			<div class="col-md-6">
				<label class="radio-inline"><input type="radio" name="add_water" <if condition='$data.add_water eq 1'>checked</if> value="1">{:L('_button_open')}</label>
				<label class="radio-inline"><input type="radio" name="add_water" <if condition='$data.add_water eq 0'>checked</if> value="0">{:L('_button_close')}</label>
			</div>
		</li>
		<li class="form-group">
			<label class="col-md-2 control-label">{:L('image_water_type')}</label>
			<div class="col-md-6">
				<label class="radio-inline"><input type="radio" name="water_type" <if condition='$data.water_type eq 1'>checked</if> value="1">{:L('image_water_type_image')}</label>
				<label class="radio-inline"><input type="radio" name="water_type" <if condition='$data.water_type eq 0'>checked</if> value="0">{:L('image_water_type_text')}</label>
			</div>
		</li>
		<li class="form-group">
			<label class="col-md-2 control-label">{:L('image_water_location')}</label>
			<div class="col-md-6">
				<label class="radio-inline"><input type="radio" name="water_location" <if condition='$data.water_location eq 1'>checked</if> value="1">上左</label>
				<label class="radio-inline"><input type="radio" name="water_location" <if condition='$data.water_location eq 2'>checked</if> value="2">上中</label>
				<label class="radio-inline"><input type="radio" name="water_location" <if condition='$data.water_location eq 3'>checked</if> value="3">上右</label>
				<br>
				<label class="radio-inline"><input type="radio" name="water_location" <if condition='$data.water_location eq 4'>checked</if> value="4">中左</label>
				<label class="radio-inline"><input type="radio" name="water_location" <if condition='$data.water_location eq 5'>checked</if> value="5">中间</label>
				<label class="radio-inline"><input type="radio" name="water_location" <if condition='$data.water_location eq 6'>checked</if> value="6">中右</label>
				<br>
				<label class="radio-inline"><input type="radio" name="water_location" <if condition='$data.water_location eq 7'>checked</if> value="7">下左</label>
				<label class="radio-inline"><input type="radio" name="water_location" <if condition='$data.water_location eq 8'>checked</if> value="8">下中</label>
				<label class="radio-inline"><input type="radio" name="water_location" <if condition='$data.water_location eq 9'>checked</if> value="9">下右</label>
			</div>
		</li>
		<li class="form-group">
			<label class="col-md-2 control-label">{:L('image_water_text')}</label>
			<div class="col-md-6">
				<input type="text" name="water_text" class="form-control" value="{$data.water_text}">
			</div>
		</li>
		<li class="form-group">
			<label for="water_image" class="col-md-2 control-label">{:L('image_water_image')}</label>
			<div class="col-md-6">
				<input type="text" name="water_image" id="water_image" class="form-control" value="{$data.water_image}">
				<button type="button" class="btn btn-success btn-sm" id="upload" data-type="water" data-id="water_image" data-model="">{:L('_button_upload')}</button>
				<img src="{$data.water_image}" id="img-water_image" width="100">
			</div>
		</li>
	</ul>
	<div class="form-button col-md-10 col-md-offset-2">
	<input type="submit" value="{:L('_button_save')}" class="btn btn-success" id="button-image">
	</div>
</form>