<form action="" method="post" class="form-horizontal">
	<ul>
		<li class="form-group">
			<label for="name" class="col-md-2 control-label">{:L('levelname')}</label>
			<div class="col-md-6">
				<input type="text" name="name" id="name" class="form-control" value="{$data.name}">
			</div>
		</li>
		<li class="form-group">
			<label for="integral" class="col-md-2 control-label">{:L('levelintegral')}</label>
			<div class="col-md-6">
				<input type="text" name="integral" id="integral" class="form-control" value="{$data.integral}">
			</div>
		</li>
		<li class="form-group">
			<label for="status" class="col-md-2 control-label">{:L('levelintegral')}</label>
			<div class="col-md-6">
				<label class="radio-inline"><input type="radio" name="status" value="1" <eq name="data.status" value="1">checked</eq> >{:L('_button_open')}</label>
				<label class="radio-inline"><input type="radio" name="status" value="0" <eq name="data.status" value="0">checked</eq> >{:L('_button_close')}</label>
			</div>
		</li>
		<li class="form-group">
			<label for="remark" class="col-md-2 control-label">{:L('remark')}</label>
			<div class="col-md-6">
				<textarea name="remark" id="remark" class="form-control">{$data.remark}</textarea>
			</div>
		</li>
	</ul>
	<input type="hidden" name="id" value="{$data.id}">
	<div class="form-button col-md-10 col-md-offset-2">
	<input type="submit" value="{:L('_button_save')}" class="btn btn-success" id="button-basic">
	</div>
</form>