<form action="" method="post" class="form-horizontal">
	<ul>
		<li class="form-group">
			<label for="username" class="col-md-2 control-label">{:L('username')}</label>
			<div class="col-md-6">
				<input type="text" name="username" id="username" class="form-control" value="{$data.username}">
			</div>
		</li>
		<li class="form-group">
			<label for="password" class="col-md-2 control-label">{:L('password')}</label>
			<div class="col-md-6">
				<input type="password" name="password" id="password" class="form-control">
			</div>
		</li>
		<li class="form-group">
			<label for="not_password" class="col-md-2 control-label">{:L('not_password')}</label>
			<div class="col-md-6">
				<input type="password" name="not_password" id="not_password" class="form-control">
			</div>
		</li>
		<li class="form-group">
			<label for="email" class="col-md-2 control-label">{:L('email')}</label>
			<div class="col-md-6">
				<input type="text" name="email" id="email" class="form-control" value="{$data.email}">
			</div>
		</li>
		<li class="form-group">
			<label for="" class="col-md-2 control-label">{:L('userrole')}</label>
			<div class="col-md-6">
				<select name="role" class="form-control">
					<option value="">{:L('userrole_select')}</option>
					<volist name='role' id='vo'>
					<option value="{$vo.id}" <eq name="data.role_id" value="$vo.id"> selected </eq> >{$vo.name}</option>
					</volist>
				</select>
			</div>
		</li>
	</ul>
	<input type="hidden" name="id" value="{$data.id}">
	<div class="form-button col-md-10 col-md-offset-2">
	<input type="submit" value="{:L('_button_save')}" class="btn btn-success" id="button-basic">
	</div>
</form>