<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>{:L('title')}</th>
			<th>{:L('reply')}</th>
			<th>{:L('image')}</th>
			<th>{:L('status')}</th>
			<th>{:L('operation')}</th>
		</tr>
	</thead>
	<tbody>
		<volist name='list' id='vo'>
		<tr>
			<td>{$vo.title}</td>
			<td>{$vo.content}</td>
			<td>{$vo.image}</td>
			<td>
				<if condition='$vo.status eq 1'>
				{:L('_button_open')}
				<else />
				{:L('_button_close')}
				</if>
			</td>
			<td>
				<a href="{:U('', array('d' => 'editor', 'id' => $vo['id']))}"><i class="icon-edit"></i>{:L('_button_editor')}</a>
				<a href="{:U('', array('d' => 'remove', 'id' => $vo['id']))}"><i class="icon-remove"></i>{:L('_button_delete')}</a>
			</td>
		</tr>
		</volist>
	</tbody>
</table>
<div class="paging">
	{$page}
</div>