<form action="" method="post" class="form-horizontal">
	<ul>
		<li class="form-group">
			<label for="name" class="col-md-2 control-label">{:L('name')}</label>
			<div class="col-md-6">
				<input type="text" name="name" id="name" class="form-control" value="{$data.name}">
			</div>
		</li>
		<li class="form-group">
			<label for="aliases" class="col-md-2 control-label">{:L('aliases')}</label>
			<div class="col-md-6">
				<input type="text" name="aliases" id="aliases" class="form-control" value="{$data.aliases}">
			</div>
		</li>
		<li class="form-group">
			<label for="pid" class="col-md-2 control-label">{:L('parent')}</label>
			<div class="col-md-6">
				<input type="hidden" name="pid" value="{$data.pid}">
				<input type="text" id="pid" class="form-control category-pid" disabled value="{$data.parentname}">
			</div>
		</li>
		<li class="form-group">
			<label for="type_id" class="col-md-2 control-label">{:L('type')}</label>
			<div class="col-md-6">
				<select name="type_id" id="type_id" class="form-control">
					<volist name="type" id="vo">
					<option value="{$vo.id}" <if condition="$data.type_id eq $vo['id']">selected</if> >{$vo.name}</option>
					</volist>
				</select>
			</div>
		</li>
		<li class="form-group">
			<label for="model_id" class="col-md-2 control-label">{:L('model')}</label>
			<div class="col-md-6">
				<select name="model_id" id="model_id" class="form-control">
					<volist name="model" id="vo">
					<option value="{$vo.id}" <if condition="$data.model_id eq $vo['id']">selected</if>>{:L('_model_' . $vo['name'])}</option>
					</volist>
				</select>
			</div>
		</li>
		<li class="form-group">
			<label for="url" class="col-md-2 control-label">{:L('url')}</label>
			<div class="col-md-6">
				<input type="text" name="url" id="url" class="form-control" value="{$data.url}">
			</div>
		</li>
		<li class="form-group">
			<label for="is_show" class="col-md-2 control-label">{:L('isshow')}</label>
			<div class="col-md-6">
				<label class="radio-inline"><input type="radio" name="is_show" value="1" <eq name="data.is_show" value="1">checked</eq> >{:L('_button_yes')}</label>
				<label class="radio-inline"><input type="radio" name="is_show" value="0" <eq name="data.is_show" value="0">checked</eq> >{:L('_button_no')}</label>
			</div>
		</li>
		<li class="form-group">
			<label for="is_channel" class="col-md-2 control-label">{:L('ischannel')}</label>
			<div class="col-md-6">
				<label class="radio-inline"><input type="radio" name="is_channel" value="1" <eq name="data.is_channel" value="1">checked</eq>>{:L('_button_yes')}</label>
				<label class="radio-inline"><input type="radio" name="is_channel" value="0" <eq name="data.is_channel" value="0">checked</eq>>{:L('_button_no')}</label>
			</div>
		</li>
		<li class="form-group">
			<label for="image" class="col-md-2 control-label">{:L('image')}</label>
			<div class="col-md-6">
				<input type="text" name="image" id="image" class="form-control" value="{$data.image}">
				<button type="button" class="btn btn-success btn-sm np-upload" data-type="category" data-id="image" data-model="">{:L('_button_upload')}</button>
				<img src="{$data.image}" id="img-image" width="100" <eq name="data.image" value="">style="display:none"</eq>>
			</div>
		</li>
		<li class="form-group">
			<label for="seo_title" class="col-md-2 control-label">{:L('title')}</label>
			<div class="col-md-6">
				<input type="text" name="seo_title" id="seo_title" class="form-control" value="{$data.seo_title}">
			</div>
		</li>
		<li class="form-group">
			<label for="seo_keywords" class="col-md-2 control-label">{:L('keywords')}</label>
			<div class="col-md-6">
				<input type="text" name="seo_keywords" id="seo_keywords" class="form-control" value="{$data.seo_keywords}">
			</div>
		</li>
		<li class="form-group">
			<label for="seo_description" class="col-md-2 control-label">{:L('description')}</label>
			<div class="col-md-6">
				<textarea type="text" name="seo_description" id="seo_description" class="form-control">{$data.seo_description}</textarea>
			</div>
		</li>
		<li class="form-group">
			<label for="access" class="col-md-2 control-label">{:L('access')}</label>
			<div class="col-md-6">
				<select name="access" id="access" class="form-control">
					<option value="0">{:L('select_access')}</option>
					<volist name="level" id="vo">
					<option value="{$vo.id}" <if condition="$data.access eq $vo['id']">selected</if> >{$vo.name}</option>
					</volist>
				</select>
			</div>
		</li>
	</ul>
	<input type="hidden" name="id" value="{$data.id}">
	<div class="form-button col-md-10 col-md-offset-2">
	<input type="submit" value="{:L('_button_save')}" class="btn btn-success" id="button-basic">
	</div>
</form>