
<script src="__STATIC__bootstrap/js/bootstrap.min.js"></script>
<script src="__STATIC__moment/moment.min.js"></script>
<script src="__STATIC__moment/locale/zh-cn.js"></script>
<script src="__STATIC__datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="__STATIC__layout/js/layout-3.0.js"></script>
<script src="__STATIC__layout/js/tools-1.0.js"></script>
<script src="__STATIC____THEME__/js/main.js"></script>
<script>
	var domain = "__DOMAIN__";
	parent.document.title = "__TITLE__";
</script>
</body>
</html>